[submodule "patina-qemu"]
	path = mod/uefi/patina-qemu
	url = https://github.com/OpenDevicePartnership/patina-qemu.git
[submodule "odp-secure-services"]
	path = mod/secure-services/odp-secure-services
	url = https://github.com/OpenDevicePartnership/odp-secure-services.git
[submodule "mod/ec"]
	path = mod/ec
	# TODO: restore to an OpenDevicePartnership URL/branch before merging
	url = https://github.com/kurtjd/odp-embedded-controller.git
	branch = winhec-demo
